
.vs/OnionArchitecture.Sample/v16/.suo
Infrastructure.Data/bin/Debug/Infrastructure.Data.dll
Infrastructure.Data/bin/Debug/Infrastructure.Data.pdb
Infrastructure.Data/obj/Debug/Infrastructure.Data.csprojAssemblyReference.cache
Infrastructure.Data/obj/Debug/Infrastructure.Data.dll
Infrastructure.Data/obj/Debug/Infrastructure.Data.pdb
OnionArchitecture.Sample/bin/Infrastructure.Data.dll
OnionArchitecture.Sample/bin/Infrastructure.Data.pdb
OnionArchitecture.Sample/bin/OnionArchitecture.Sample.dll
OnionArchitecture.Sample/bin/OnionArchitecture.Sample.pdb
OnionArchitecture.Sample/obj/Debug/OnionArchitecture.Sample.pdb
OnionArchitecture.Sample/obj/Debug/OnionArchitecture.Sample.dll
OnionArchitecture.Sample/obj/Debug/OnionArchitecture.Sample.csprojAssemblyReference.cache
OnionArchitecture.Sample/obj/Debug/OnionArchitecture.Sample.csproj.CoreCompileInputs.cache
